
.slide-in-left {
  opacity: 0;
  transform: translateX(-30px);
  animation: slideInLeft 0.5s forwards;
}
.slide-in-right {
  opacity: 0;
  transform: translateX(30px);
  animation: slideInRight 0.5s forwards;
}
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.thstave-hero-block {
  background-color: #1b1b1b;
  color: white;
  padding: 1rem;
}
